$poop: yellow;

* {
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 15vh;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: 1;
}

.logo {
  margin-left: 12px;
}

/* hamburger menu icon */
.menu {
  margin-right: 30px;

  div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
}

.navbar a,
.navbar a:hover {
  color: white;
  text-decoration: none;
}

.banner1 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.content {
  background-color: #000000;
  border-top: #FFFFFF solid 1px;
  border-bottom: #FFFFFF solid 1px;
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.line-drawing {
  position: absolute;
}

.line-drawing-left {
  bottom: 0;
  left: -25%;
  width: 75vw;
}

.line-drawing-right {
  bottom: 0;
  right: -25%;
  width: 75vw;
}

.content p,
h2 {
  text-align: center;
}

.content p {
  margin: auto 10vw;
  padding-bottom: 15px;
}

.container h2{
  color: black;
}

.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}
.gallery img {
  max-width: 90%;
  margin: auto;
}
.photo-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.photo-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.photo-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.photo-4 {
  grid-area: 2 / 2 / 3 / 3;
}
.photo-5 {
  grid-area: 3 / 1 / 4 / 3;
}

.banner2 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.footer {
  display: block;
  background-color: #000000;
}

.button {
  margin: 10px auto;
  background-color: #272727;
  width: 80vw;
  border: #FFFFFF solid 1px;
  border-radius: 30px;
}

.button p {
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

@media screen and (max-width: 600px) {
  .navbar li .hide-small {
    display: none;
  }
}
