$poop: yellow;

* {
  color: white;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 12vh;
  padding-top: 20px;
  position: fixed;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: 1;
  border: none;
}

/* cool trick: margin-right: auto on this makes rest of items get
pushed all the way to the right (parent display is flex)*/
.logo {
  margin-left: 2vh;
  margin-right: auto;
  display: flex;
  img {
    height: 80px;
  }
  span {
    margin: auto;
    margin-left: 5px;
    font-size: 20px;
  }
}

.navbar a,
.navbar a:hover {
  color: white;
  text-decoration: none;
}

.nav-items {
  position: fixed;
  top: 40vh;
  left: 50%;
  bottom: 0;
}

.banner1 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.content {
  background-color: #000000;
  border-top: #FFFFFF solid 1px;
  border-bottom: #FFFFFF solid 1px;
  position: relative;
  overflow: hidden;
}

.content-no-bottom-border {
  background-color: #000000;
  border-top: #FFFFFF solid 1px;
  position: relative;
  overflow: hidden;
}

.sales-content {
  background-color: #000000;
  border-bottom: #FFFFFF solid 1px;
  padding-top: 15vh;
  overflow: hidden;
  display: block;
  .sales-column {
    padding: 0;
  }
}



.grow-guides-content {
  background-color: #000000;
  padding-top: 15vh;
  overflow: hidden;
  display: block;
  padding-bottom: 8vh;
  .grow-guides-item {
    background-color: #000000;
    margin: 5vh 3% 0 3%;
    border-bottom: #FFFFFF solid 1px;
    img {
      width: 100%;
    }
    .image {
    }
    .caption-title {
      margin-top: 10px;
      margin-bottom: 1px;
      font-weight: bold;
      font-size: 16px;
    }
    .caption-description {
      font-size: 11px;
      margin-bottom: 2vh;
    }
    .button-column {
      padding-left: 0;
    }
    .grow-guides-button {
      height: 40px;
      text-align: center;
      a {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 0;
        color: #FFFFFF;
      }
      p {
        padding-top: 4px;
      }
    }
  }
}

.grow-guides-plant-content {
  background-color: #000000;
  padding-top: 15vh;
  display: block;
  padding-bottom: 8vh;
  .plant-header {
    width: 80%;
    margin: auto;
    margin-bottom: 3vh;
    .plant-header-large {
      font-size: 38px;
    }
  }
  .description {
    margin: 0 3%;
    border-bottom: #515151 solid 2px;
    .plant-image img {
      width: 100%;
    }
    .description-text {
      margin: 3vh 4vh 0 4vh;
      .description-header {
        font-size: 26px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .expandable-menu {
    margin: 0 3%;
    border-bottom: #FFFFFF solid 1px;
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .expandable-menu-title {
    font-size: 30px;
    margin-right: auto;
  }
  .dropdown-icon {
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
  }
  .dropdown-icon:hover {
    text-decoration: none;
  }
  .collapsible {
    margin: 0 3%;
    border-bottom: #FFFFFF solid 1px;
    margin-top: 16px;
    width: 90vw;
    height: 60px;
    display: flex;
  }
  .contents {
    width: 80vw;
    margin: auto;
  }
  .potting-media {
  }
  .care {
  }

}

.sales-menu {
  display: flex;
  justify-content: center;
  li {
    display: inline-flex;
  }
}

.sales-menu-item {
  display: block;
  width: 45%;
  padding-bottom: 5px;
  text-align: center;
  a {
    color: white;
  }
}

.sales-menu-item:hover{
  text-decoration: none;
}

.selected {
  border-bottom: #FFFFFF solid 2px;

}

.unselected {
  border-bottom: #515151 solid 1px;
  span {
    color: #515151;
  }
}

#left {
  margin-left: 10px;
  margin-right: auto;
}

#right {
  margin-left: auto;
}

.sales-item {
  margin: 30px 1%;
}

.sales-item-img{
  display: block;
  width: 100%;
}

.sales-item-title {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.sales-item-description {
  font-size: 9px;
}

.col-xs-4 {
  padding-right: 0;
}

.content-1 {
  height: 50vh;
}

.content-2 {
  height: 70vh;
}

.line-drawing {
  position: absolute;
}

.line-drawing-left {
  bottom: 0;
  left: -25%;
  width: 75vw;
}

.line-drawing-right {
  bottom: 0;
  right: -25%;
  width: 75vw;
}

.line-drawing-top {
  top: 0;
  left: 38%;
  width: 25vw;
}

.content p,
.content-no-bottom-border p,
h1,
h2,
h3 {
  text-align: center;
}

.content p,
.content-no-bottom-border p {
  margin: auto 10vw;
  padding-bottom: 15px;
}

.container h2{
  color: black;
}

.gallery {
  display: grid;
  margin: auto;
  gap: 10px;
  width: 90vw;

  .box {
    width: 100%;
    height: 100%;
  }
}

.blog-gallery {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .blog-box-1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .blog-box-2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .blog-box-3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .blog-box-4 {
    display: none;
  }
}

.blog-gallery-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  .blog-box-1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .blog-box-2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .blog-box-3 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .blog-box-4 {
    grid-area: 4 / 1 / 6 / 3;
  }
}

img.photo-3 {
  margin-top: 10px;
}
img.photo-4 {
  margin-top: 10px;
}
img.photo-5{
  margin-top: 10px;
}

.banner2 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.footer-home {
  margin-top: 20px;
}

.footer {
  display: block;
  position: relative;
  height: 60vh;
  background-color: #000000;
  padding: 1px 0 10px 0;
  overflow: hidden;
}

.button-gallery {
  margin: 90px auto;
}

.button {
  margin: 10px auto;
  background-color: #272727;
  border: #FFFFFF solid 1px;
  border-radius: 30px;
  p {
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.button-large {
  width: 80vw;
}

.sales-item-buttons {
  display: flex;
  margin-top: auto;
  height: 4.5vh;
  a {
    margin-bottom: 0;
  }
}

.sales-item-button {
  margin: 10px auto;
  background-color: #272727;
  width: 45%;
  border: #FFFFFF solid 1px;
  border-radius: 30px;
  text-align: center;
  span {
    font-size: 9px;
    text-align: center;
  }
  a {
    text-decoration: none;
    font-size: 9px;
    color: white;
  }
}

.sales-item-button:hover {
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .nav-items {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 3vh;
    z-index: 1;
    div {
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
    }
  }
  .gallery-tablet {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    .box-1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .box-2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .box-3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .box-4 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .box-5 {
      grid-area: 3 / 1 / 5 / 3;
    }
    .box-6,
    .box-7,
    .box-8,
    .box-9 {
      display: none;
    }
  }
  .line-drawing-top {
    display: none;
  }
  #bottom {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .nav-items {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 3vh;
    z-index: 1;
    div {
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
    }
  }

  .footer-home {
    .button-large {
      width: 40vw;
      display: inline-block;
    }
    .button-left {
      margin-left: 9vw;
    }
    .button-right {
      margin-right: 9vw;
      float: right;
    }
  }

  h2 {
    font-size: 65px;
  }
  .content p,
  .content-no-bottom-border p {
    margin: auto 15vh;
    padding-bottom: 15px;
  }
  p {
    font-size: 16px;
  }
  .content-2 {
    height: 110vh;
    h2 {
      margin-top: 50vh;
    }
  }
  .banner2 {
    height: 20vh;
  }
  .gallery-tablet {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin: auto;
    gap: 10px;

    .box {
      width: 100%;
      height: 100%;
    }
    .box-1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .box-2 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .box-3 {
      grid-area: 2 / 3 / 3 / 4;
    }
    .box-4 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .box-5 {
      grid-area: 4 / 1 / 5 / 2;
    }
    .box-6 {
      grid-area: 3 / 2 / 5 / 4;
    }
    .box-7 {
      grid-area: 5 / 1 / 6 / 2;
    }
    .box-8 {
      grid-area: 5 / 2 / 6 / 3;
    }
    .box-9 {
      grid-area: 5 / 3 / 6 / 4;
    }
  }
  .blog-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .blog-box-1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .blog-box-2 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .blog-box-3 {
      grid-area: 2 / 3 / 3 / 4;
    }
    .blog-box-4 {
      display: none;
    }
  }
  .blog-gallery-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .blog-box-1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .blog-box-2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .blog-box-3 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .blog-box-4 {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
  .sales-content {
    height: 100vh;
    padding-bottom: 10vh;
    .sales-item-button {
      height: 30px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
  .navbar {
    background-color: black;
  }
  #toggler {
    display: none;
  }
  .nav-items {
    display: flex;
    position: static;
    font-size: 20px;
    .nav-link {
      margin-right: 3vw;
    }
  }
}
.nav-toggle1 {
  position: fixed;
  top: 12vh;
  left: 0;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 26px;
  line-height: 3;
  text-align: center;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
