$poop: yellow;

* {
  color: white;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  width: 100%;
  height: 12vh;
  position: fixed;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: 1;
  border: none;
}

/* cool trick: margin-right: auto on this makes rest of items get
pushed all the way to the right (parent display is flex)*/
.logo {
  margin-left: 2vh;
  margin-right: auto;
}

/* hamburger menu icon */
.nav-toggle {
  display: none;
}

.navbar a,
.navbar a:hover {
  color: white;
  text-decoration: none;
}

.nav-items {
  position: fixed;
  top: 40vh;
  left: 50%;
  bottom: 0;
}

.banner1 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.content {
  background-color: #000000;
  border-top: #FFFFFF solid 1px;
  border-bottom: #FFFFFF solid 1px;
  position: relative;
  overflow: hidden;
}

.content-1 {
  height: 50vh;
}

.content-2 {
  height: 70vh;
}

.line-drawing {
  position: absolute;
}

.line-drawing-left {
  bottom: 0;
  left: -25%;
  width: 75vw;
}

.line-drawing-right {
  bottom: 0;
  right: -25%;
  width: 75vw;
}

.content p,
h2,
h3 {
  text-align: center;
}

.content p {
  margin: auto 10vw;
  padding-bottom: 15px;
}

.container h2{
  color: black;
}

.gallery {
  margin-bottom: 20px;

  .left {
    padding-left: 0;
    padding-right: 5px;
  }

  .right {
    padding-right: 0;
    padding-left: 5px;
  }

  img {
    max-width: 100%;
    margin-top: 20px;
  }
}

.gallery .col {
}
.photo-1 {
}
.photo-2 {
}
img.photo-3 {
  margin-top: 10px;
}
img.photo-4 {
  margin-top: 10px;
}
img.photo-5{
  margin-top: 10px;
}

.banner2 {
  background-image: url("../assets/photos/Artboard 6.jpg");
  background-repeat: no-repeat;
  height: 40vh;
  background-size: 100%;
}

.footer {
  display: block;
  position: relative;
  height: 60vh;
  background-color: #000000;
  padding: 1px 0 10px 0;
  margin-top: 20px;
  overflow: hidden;
}

.button-gallery {
  margin: 90px auto;
}

.button {
  margin: 10px auto;
  background-color: #272727;
  width: 80vw;
  border: #FFFFFF solid 1px;
  border-radius: 30px;

  p {
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {
  .nav-items {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 3vh;
    z-index: 1;
    div {
      width: 35px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
    }
  }
}
.nav-toggle1 {
  position: fixed;
  top: 12vh;
  left: 0;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 26px;
  line-height: 3;
  text-align: center;
}
